name: Deploy to Salesforce

on:
  push:
    branches:
      - '!main'
      - 'feature_branch'

jobs:
  deploy-to-salesforce:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

   

      - name: Create the content_repo2 directory
        run: mkdir content_repo2

               
      - name: Clone and copy from Repo B
        run: |
          git clone https://github.com/kalpanauppara/global2_repo.git
          mv global2_repo content_repo2/

      
      - name: List contents of GitHub workspace
        run: ls -R ${{ github.workspace }}

      - name: Install SFDX CLI
        run: npm install sfdx-cli --global

      - name: Authenticate with Salesforce
        run: |
          # Authenticate with Salesforce using the connected app credentials
          sfdx force:auth:jwt:grant -u ${{ secrets.SALESFORCE_DEVHUB_USERNAME }} -f ${{ secrets.SALESFORCE_JWT_SECRET_KEY }}  -i ${{ secrets.SALESFORCE_JWT_SECRET_KEY }} -s ${{ secrets.SALESFORCE_CONSUMER_KEY }}

      - name: Deploy to Salesforce
        run: |
          # Deploy to Salesforce
          sfdx force:source:deploy -p ${{ github.workspace }} -u ${{ secrets.SALESFORCE_DEVHUB_USERNAME }}
