name: Deploy Repos A and B

on:
  push:
    branches:
      - '!main'
      - 'feature_branch'

jobs:
  deploy-repos:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code from Repo A
        uses: actions/checkout@v2
        with:
          repository: kalpanauppara/regional2_repo
          ref: ${{ github.event.ref }}
        # This step will check out the specified branch or commit from Repo A

      - name: Clone and copy from Repo A
        run: |
          mkdir content_deploy
          cp -R sfdx-sample-code content_deploy/
        working-directory: ${{ github.workspace }}
        # Replace 'path/to/your/folder1' with the actual path to the folder you want to copy from Repo A

      - name: Checkout code from Repo B
        uses: actions/checkout@v2
        with:
          repository: kalpanauppara/global2_repo
          ref: feature_branch
        # This step will check out the specified branch or commit from Repo B

      - name: Clone and copy from Repo B
        run: |
          cp -R dream-sfdx-code content_deploy/
        working-directory: ${{ github.workspace }}
        # Replace 'path/to/your/folder2' with the actual path to the folder you want to copy from Repo B

      - name: List contents of content_deploy
        run: ls -lrt content_deploy

      - name: Install SFDX CLI
        run: npm install sfdx-cli --global
      
      - name: Install SFDX-Scanner
        run: sfdx plugins:install @salesforce/sfdx-scanner

      - name: Install SFDX-Git-Delta plugin
        run: |
          echo y | sfdx plugin:install sfdx-git-delta
          sfdx plugins

      - name: Authenticate with Salesforce
        run: |
          # Authenticate with Salesforce using the connected app credentials
          sfdx force:auth:jwt:grant -u ${{ secrets.SALESFORCE_DEVHUB_USERNAME }} -f ${{ secrets.SALESFORCE_JWT_SECRET_KEY }}  -i ${{ secrets.SALESFORCE_JWT_SECRET_KEY }} -s ${{ secrets.SALESFORCE_CONSUMER_KEY }}

      - name: Deploy to Salesforce
        run: |
          # Deploy to Salesforce
          sfdx force:source:deploy -p content_deploy/ -u ${{ secrets.SALESFORCE_DEVHUB_USERNAME }}
